In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('BigFile.csv', chunksize=100000)

In [20]:
# final_df = pd.DataFrame()
# for chunk in df:
#     summed = chunk.groupby('brand').sum().reset_index()
#     final_df = final_df.append(summed, ignore_index=True)

In [21]:
output = pd.DataFrame()
for chunk in df:
    details = chunk[['brand','category_code','event_type']].
    details['count'] = 1
    summary = details.groupby(['brand','category_code','event_type']).sum().reset_index()
    output = summary.append(output,ignore_index=True)

/tmp/ipykernel_270/360108269.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  details['count'] = 1

In [26]:
final_output = output.groupby(['brand','category_code','event_type']).sum().reset_index()
final_output.head()

      brand                category_code event_type  count
0   a-elita              accessories.bag       cart      8
1   a-elita              accessories.bag   purchase      1
2   a-elita              accessories.bag       view    311
3  aardwolf  computers.components.cooler       cart     13
4  aardwolf  computers.components.cooler   purchase      7

In [30]:
final_output[final_output['event_type']=='purchase'].sort_values('count')

          brand                  category_code event_type   count
1       a-elita                accessories.bag   purchase       1
6362       pika  appliances.environment.vacuum   purchase       1
3443    greyder          apparel.shoes.slipons   purchase       1
7824  startline        furniture.kitchen.table   purchase       1
7833      stavr     construction.tools.welding   purchase       1
...         ...                            ...        ...     ...
3863     huawei         electronics.smartphone   purchase   21636
427       apple    electronics.audio.headphone   purchase   25893
8972     xiaomi         electronics.smartphone   purchase   48553
433       apple         electronics.smartphone   purchase  127252
7164    samsung         electronics.smartphone   purchase  161791

[2411 rows x 4 columns]